DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=recipe_db

# mysql 範例
DATABASE_URL=mysql+aiomysql://root:your_password@localhost:3306/recipe_db

APP_ENV=development
CORS_ORIGINS=http://localhost:3000,http://localhost:5173
